<nb-card>
  <nb-card-header>Add User</nb-card-header>
  <nb-card-body>
    <div class="container">
      <p *ngFor="let alert of alerts">
        <ngb-alert>
          <strong> Warning! </strong> {{alert|uppercase}}
        </ngb-alert>
      </p>
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">upload File</label>
          <input type="file" accept="image/*" name="creativeImage" class="form-control" (change)="onFileChanged($event)"
            id="creativeImage">
        </div>
        <button class="btn btn-primary" (click)="postData()">Submit</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>